.hubble-photo{
  width: 100%;
  overflow: hidden;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hide-hubble-photos, .show-hubble-photos{
  text-decoration: underline;
  cursor: pointer;
}

.hide-hubble-photos{
  margin-bottom:10px;

}

.show-hubble-photos{
  border: 2px solid rgb(105, 101, 101);
  border-left: none;
  border-right: none;
  padding: 15px;
}

.hubble-photo-container{
  border: 1px solid white;
}

.hubble-photo-title{
  color: white;
}

