

.article{
  border-top: 1px solid black;
  height: 400px;
  overflow: hidden;
}

.article-title{
  text-decoration: underline;
}

.article-title:hover{
  color: rgb(180, 158, 158);
  text-decoration: underline;
}


h4{
  margin-top: 5px;
}

a{
  color: black;
}

.photo{
  height: 240px;
  width:90%;
}

.snippet{
  text-align: left;
  padding-left:5px;
}

.hide-articles, .show-articles{
  text-decoration: underline;
  cursor: pointer;
}

.hide-articles{
  margin-bottom:10px;
}

.show-articles{
  border: 2px solid rgb(105, 101, 101);
  border-left: none;
  border-right: none;
  padding: 15px;
}